.circlePhoto2 {
	border-radius: 50%;
	height: 42px;
	width: 42px;
}

.circleName2 {
	margin-left: 10px;
	font-size: 20px;
}

.textBuble{
	background-color: #99AAB5;
	display: inline-block;
	max-width: 90vw;
	min-height: 45px;
	border-radius: 5px;
	margin-top: 30px;
	margin-left: 10px;
}

.senderName {
	color: purple;
	font-family: "Whitney Bold";
	font-size: 15px;
	margin-left: 5px;
}

.message {
	color: #23272A;
	font-size: 14px;
	margin-left: 5px;
	margin-right: 5px;
}

.textBubleYou{
	background-color: #7289DA;
	display: inline-block;
	max-width: 90vw;
	min-height: 35px;
	border-radius: 5px;
	margin-top: 30px;
	margin-right: 10px;
	float: right;
	color: #23272A;
	font-size: 14px;
	padding: 5px;
}

.textArea {
	height: 30px;
	resize: none;
	width: 88vw;
	margin-left: 5px;
	border-radius: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
}

.sendButton {
	border-radius: 50%;
	height: 35px;
	width: 35px;
	background-color: #7289DA;
	border: none;
	margin: 5px;
}

.material-icons { 
	color: #FFFFFF;
}

#gridContainer {
	grid-template-rows: 8vh auto 45px;
	
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #7289DA; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #7289DA; 
}