.circlePhoto2 {
	border-radius: 50%;
	height: 42px;
	width: 42px;
}

.circleName2 {
	margin-left: 10px;
	font-size: 20px;
}

.textBuble{
	background-color: #99AAB5;
	display: inline-block;
	max-width: 90vw;
	min-height: 45px;
	border-radius: 5px;
	margin-top: 30px;
	margin-left: 10px;
}

.senderName {
	color: purple;
	font-family: "Whitney Bold";
	font-size: 15px;
	margin-left: 5px;
}

.message {
	color: #23272A;
	font-size: 14px;
	margin-left: 5px;
	margin-right: 5px;
}

.textBubleYou{
	background-color: #7289DA;
	display: inline-block;
	max-width: 90vw;
	min-height: 35px;
	border-radius: 5px;
	margin-top: 30px;
	margin-right: 10px;
	color: #23272A;
	font-size: 14px;
	padding: 5px;
}

.textBubleYouContainer { 
	display: flex;
	justify-content: flex-end;
}

#gridFooter {
	display: flex;
}

.textArea {
	height: 30px;
	resize: none;
	flex-grow: 1;
	border-radius: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
}

.sendButton {
	border-radius: 50%;
	height: 30px;
	width: 30px;
	background-color: #7289DA;
	border: none;
	margin: 5px 8px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.questionButton {
	border-radius: 50%;
	height: 30px;
	width: 30px;
	background-color: #7289DA;
	border: none;
	margin: 5px 8px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
}

.fa-question {
	margin: 0;
	font-size: 18px;

}

.material-icons { 
	color: #FFFFFF;
	font-size: 20px;
}

#gridContainer {
	grid-template-rows: 8vh auto 45px;
	
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #7289DA; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #7289DA; 
}

.statementContainer {
	background-color: #FFFFFF;
	width: 95vw;
	height: 50px;
	margin-top: 10px;
	margin-bottom: 10px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	border-radius: 5px;
	box-shadow: 3px 3px 5px #7289DA;;
}

.gameMode { 
	color: #7289DA;
	text-align: center;
	font-size: 10px;
	padding-bottom: 1px;
	padding-top: 5px;

}

.statement { 
	color: #2C2F33;
	text-align: center;
	padding-bottom: 5px;
	font-family: "Whitney Italic";

}

.textBubleAnswer { 

}