body {
	background-image: url("../img/LoginBackground_Darker.jpg");
	background-size: 500px;
	background-repeat: repeat;
	margin: 0;
}

.LoginButton {
	width: 90vw;
	height: 35px;
	border-radius: 5px;
	border: none;
	background-color: #7289DA;
	font-size: 12px;
	color: #FFFFFF;
	margin: auto;
	display: block;
	margin-top: 4vh;
}

.welcome {
	text-align: center;
	margin-top: 5vh;
	font-size: 22px;
	margin-bottom: 2vh;
}

.Container {
	margin-top: 20px;
	background-color: #23272A;
	margin-left: 5vw;
	margin-right: 5vw;
	padding: 8px;
	font-size: 12px;
	color: #99AAB5;
}

input {
	width: 100%;
	padding-top: 8px;
	background-color: #23272A;
	border: none;
}

.info {
	text-align: center;
	font-size: 12px;
	color: #99AAB5;
	margin-bottom: 5vh;
} 

#forgot {
	text-align:left;
	font-size: 12px;
	color: #7289DA;	
}

/* Popup container */
.popup {
	position: relative;
	display: inline-block;
	cursor: pointer;
	margin-left: 5vw;
	margin-top: 2vh;
}

/* The actual popup (appears on top) */
.popup .popuptext {
	visibility: hidden;
	width: 180px;
	background-color: #7289DA;
	text-align: center;
	border-radius: 6px;
	padding: 10px 10px;
	position: absolute;
	z-index: 1;
	bottom: 100%;
	left: 50%;
	margin-left: -90px;
	font-size: 14px;
	font-family: 'Whitney';
  
}

/* Popup arrow */
.popup .popuptext::after {
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: #7289DA transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
	visibility: visible;
	-webkit-animation: fadeIn 1s;
	animation: fadeIn 1s
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
	from {opacity: 0;}
	to {opacity: 1;}
}

@keyframes fadeIn {
	from {opacity: 0;}
	to {opacity:1 ;}
}
