body {
	color: #FFFFFF;
	background-color: #23272A;
	font-family: 'Whitney';
	margin: 0;
}

button {
	font-family: 'Whitney';
}

input {
	color: #FFFFFF;
}

@font-face {
	font-family: 'Whitney';
	src: url('../whitney-fonts/whitneymedium.woff');
}

@font-face {
	font-family: 'Whitney Bold';
	src: url('../whitney-fonts/whitneybold.woff');
}

@font-face {
	font-family: 'Whitney Semibold';
	src: url('../whitney-fonts/whitneysemibold.woff');
}

@font-face {
	font-family: 'Whitney Italic';
	src: url('../whitney-fonts/whitneymediumitalic.woff');
}

.fas, .fa-arrow-left {
	margin-left: 15px;
	margin-top: 15px;
}

#gridContainer_NoFooter {
	grid-template-rows: 8vh auto;
}

#gridContainer {
	grid-template-rows: 8vh auto 12vh;
}

#gridContainer, #gridContainer_NoFooter{ 
	display: grid;
	height: 100vh;
}

#gridHeader, #gridFooter {
	background-color: #303136;
	border-color: #99AAB5;
	border-width: thin;
	
}

#gridMain { 
	overflow: auto; 
}

#gridHeader { 
	text-align: left;
	font-size: 25px;
	display: flex;
	align-items: center;
	padding-left: 20px;
	border-bottom-style: solid;
}

#gridFooter { 
	border-top-style: solid;
	display: grid;
	width: 100vw;
	grid-template-columns: auto auto auto;
}

.fa, .fa-ellipsis-v {
	position: absolute;
	right: 20px;

}

.circleButton { 
	border-radius: 50%;
	background: #7289DA; 
	width: 10vh;
	height: 10vh;
	font-size: 2vh;
}

.gridFootercell, .circleButton, .addButton{ 
	display: flex;
	align-items: center;
	justify-content: center;
}

.addButton { 
	border-radius: 50%;
	background: #99AAB5; 
	width: 8vh;
	height: 8vh;
	font-size: 3vh;
}

.textInputContainer {
	margin-top: 20px;
	background-color: #23272A;
	margin-left: 5vw;
	margin-right: 5vw;
	padding: 8px;
	font-size: 12px;
	color: #99AAB5;
}

.textInputContainer input {
	width: 100%;
	padding-top: 8px;
	background-color: #23272A;
	border: none;
}

.newCircle {
	margin-top: 5px;
	display: grid; 
	background-color: #2C2F33;
	grid-template-areas:
        "image memberCount roomCode"
        "image name name";
	grid-template-columns: 70px auto 70px;
	grid-template-rows: 35px 35px;
	
}

.circlePhoto {
	border-radius: 50%;
	width: 60px;
	height: 60px;
	grid-area: image;
	margin: auto;
}

.memberCount {
	grid-area: memberCount;
	font-size: 11px;
	text-align: left;
}

.circleName { 
	grid-area: name;
	line-height: 35px;
}