body {
	color: #FFFFFF;
	background-color: #23272A;
	font-family: 'Whitney';
	margin: 0;
}

button {
	font-family: 'Whitney';
}

input {
	color: #FFFFFF;
}

@font-face {
	font-family: 'Whitney';
	src: url('../whitney-fonts/whitneymedium.woff');
}

@font-face {
	font-family: 'Whitney Bold';
	src: url('../whitney-fonts/whitneybold.woff');
}

@font-face {
	font-family: 'Whitney Semibold';
	src: url('../whitney-fonts/whitneysemibold.woff');
}

@font-face {
	font-family: 'Whitney Italic';
	src: url('../whitney-fonts/whitneymediumitalic.woff');
}

.fas, .fa-arrow-left {
	margin-left: 15px;
	margin-top: 15px;
}

#gridContainer{ 
	display: grid;
	height: 100vh;
	grid-template-rows: 8vh auto 12vh;
}

#gridHeader, #gridFooter {
	background-color: #303136;
	border-color: #99AAB5;
	border-width: thin;
	
}

#gridMain { 
	overflow: auto; 
}

#gridHeader { 
	text-align: left;
	font-size: 25px;
	display: flex;
	align-items: center;
	padding-left: 20px;
	border-bottom-style: solid;
}

#gridFooter { 
	border-top-style: solid;
	display: grid;
	width: 100vw;
	grid-template-columns: auto auto auto;
}

.fa, .fa-ellipsis-v {
	position: absolute;
	right: 20px;

}

.circleButton { 
	border-radius: 50%;
	background: #7289DA; 
	width: 10vh;
	height: 10vh;
}

.gridFootercell, .circleButton { 
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 2.5vh;
	font-family: 'Whitney Italic'
}
